<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokedex</h1>
    <!-- <nav>
        <a href="/fruits/new">Create a New Fruit</a>
    </nav> -->
    <ul>
        <% data.forEach((data, index) => { %>
            <li>
                <a href="/<%=data.id%>">
                    <%= data.name %>
                </a>
                </form>
                <!-- <a href="/fruits/<%=index %>/edit">Edit</a> -->
            </li>
            <% }) %>
    </ul>
</body>
</html>