<!DOCTYPE html>
<html>

<head>
    <metacharset="utf-8">
        <title></title>
</head>

<body>

    <form action="/pokemon" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="type">Type</label>
        <input type="text" name="type" id="type" />
        <input type="submit" value="Create Pokemon">
    </form>
</body>

</html>