<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <a href="/pokemon">Go Back to Pokedex</a>
    <br>
    <img class="imginside" src="<%=data.img%>">
    <p class="name">Name: <%=data.name%></p>
    <br>
    <p class="type">Type: <%=data.type.toString()%>


</body>
</html>